<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-home"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin Panel</div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Management
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/property-list">
            <i class="fas fa-fw fa-city"></i>
            <span>Property</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/blogs-list">
            <i class="fas fa-fw fa-blog"></i>
            <span>Blog</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/clients-list">
            <i class="fas fa-fw fa-users"></i>
            <span>Client</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/faq-list">
            <i class="fas fa-fw fa-question-circle"></i>
            <span>Faq</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/services-list">
            <i class="fas fa-fw fa-concierge-bell"></i>
            <span>Services</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/team-list">
            <i class="fas fa-fw fa-user-tie"></i>
            <span>Team</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/content-list">
            <i class="fas fa-fw fa-info-circle"></i>
            <span>Content</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/contact-list">
            <i class="fas fa-fw fa-envelope"></i>
            <span>Leads</span>
        </a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>